.header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &--parameters {
    background-color: #6b0ea0;
    box-shadow: 0px 1px 5px #000;
    margin-bottom: 20px;
  }

  &__title {
    display: inline-block;
    position: absolute;
    left: 20px;
    color: #fff;
  }

  &__select {
    height: 30px;
    font-size: 16px;
    justify-self: center;
  }
}